@using Common.DTO
@using UserApp.DataLayer.Entities

@model UserViewModel
<p style="display: none;">@(ViewBag.i = 1)</p>

<form method="post" action="Users">
    <table class="table">
        <thead>
            <tr>
                <td>Id</td>
                <td>Select</td>
                <td>Name</td>
                <td>Email</td>
                <td>Update User</td>
                <td>Delete User</td>
            </tr>
        </thead>
        <tbody>
            @foreach(var user in Model.userList) {
            
                <tr>
                    <td>@(ViewBag.i++)</td>
                    <td><input type="checkbox" name=@user.Id id=@user.PublicId value=@user.PublicId/></td>
                    <td><a href="@Url.Action("UserDetail", "Home", new{ userPublicId = user.PublicId } )">@user.Name</a></td>
                    <td>@user.Email</td>
                    <td><a class="lsbtn" href="@Url.Action("Update", "Home", new{ Id = user.PublicId } )">Update</a></td>
                    <td>
                        <form method="post" action="Users">
                            <input type="hidden" name="Id" value="@user.PublicId" />
                            <button type="submit" class="del">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>


<button class="del" type="button" id="suse" onclick="Del()">Delete</button>
<input type="hidden" id="sus" value="@(ViewBag.UList)" />
<form asp-action="Deletion" method="post">
    <input type="hidden" name="list" id="here" value=[""] />
    <button class="del2" style="display: none;" id="suser">Confirm delete</button>
</form>